.card {
  background-color: $color-white;
  max-height: 35rem;
  flex: 0 1 calc(25% - 1em);
  margin-right: 1rem;

  &__image {
    width: 100%;
    height: 85%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__detail {
    display: flex;
    padding: 0.5rem;

    &__container {
      width: 75%;
    }

    &__title {
      font-weight: bolder;
      font-size: 1rem;
    }

    &__description {}

    &__address {}

    &__price {
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
    }
  }
}

@include respond(tab-port) {
  .card {
    margin: 7rem 1rem;
    padding: 2rem 0;

    &__image {
      img {
        width: 100%;
        max-height: 500px;
      }
    }
  }
}

@include respond(tab-land) {
  .card {
    flex: 0 1 calc(50% - 1em);

    &__image {
      width: 100%;
      height: 85%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
