.stats {
  font-family: 'Raleway';

  &__header {
    margin-bottom: 5rem;

    &--primary {
      text-align: center;
      font-size: 0.8rem;
      color: $color-grey-dark;
      margin-bottom: 1.2rem;
    }

    &--secondary {
      text-align: center;
      font-size: 2rem;
    }
  }

  &__box {
    display: flex;

    &--description {
      margin: 2rem;

      &__header {
        padding: 1rem 0 0.2rem;
        font-size: 3rem;
        color: $color-grey-dark-3;
      }

      &__text {
        padding: 2rem 0;
        font-size: 1rem;
      }

      &__btn {
        margin-top: 1rem;
      }
    }

    @include respond(tab-port) {
      flex-direction: column-reverse;

      &--description {
        &__header,
        &__text,
        &__btn {
          text-align: center;
        }
      }

      &--image {
        text-align: center;

        img {
          width: 80%;
        }
      }
    }

    @include respond(phone) {
      &--image {
        img {
          width: 100%;
        }
      }
    }
  }
}
