.home-list {
  &__header {
    text-align: center;
    margin: 3rem 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1rem;
  }

  @include respond(tab-port) {
    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}
