.home-list {
  &__header {
    text-align: center;
    margin: 3rem 0;
  }

  &__row {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1rem;
  }

  /* &__row::after {
    content: "";
    flex: auto;
    padding-right: 1rem;
  } */

  @include respond(tab-port) {
    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}

.home {
  &__header {
    text-align: center;

    h3 {
      font-size: 3rem;
    }
  }

  &__image {
    margin: 1rem 4rem 4rem;
    position: relative;

    img {
      width: 100%;
    }
  }

  &__like__btn {
    position: absolute;
    bottom: 2%;
    right: 2%;

    button {
      font-size: 4rem;
    }
  }

  &__detail {
    margin: 0 4rem 2rem;

    &__description,
    &__location {
      font-size: 1.3rem;
    }

    &__location {
      margin-top: 1rem;
    }
  }
}
